*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #e7eded;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

@media (max-width: 28.125em) {
  h1 {
    font-size: 1.5rem;
  }
}

[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 35px;
  height: 35px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #3eb5ab;
  border-color: #21657c transparent #3eb5ab transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.infoBlock {
  text-align: center;
}

.infoBlock-header {
  height: 25vh;
  background-image: linear-gradient(to right, rgba(33, 101, 124, 0.8), rgba(62, 181, 171, 0.8)), url("/assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
}

.infoBlock-header--text {
  align-self: center;
  margin: 0 auto;
  color: #FFF;
}

.infoBlock-navigation {
  margin: 3rem 8rem 3rem 8rem;
}

@media (max-width: 68.75em) {
  .infoBlock-navigation {
    margin: 1rem 8rem 1rem 8rem;
  }
}

@media (max-width: 48em) {
  .infoBlock-navigation {
    margin: 1rem 2rem 1rem 2rem;
  }
}

@media (max-width: 28.125em) {
  .infoBlock-navigation {
    margin: 0.5rem 0rem;
  }
}

.infoBlock-navigation-block {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 68.75em) {
  .infoBlock-navigation-block {
    flex-wrap: wrap;
  }
}

.infoBlock-navigation-block--calendarFrom, .infoBlock-navigation-block--calendarTo, .infoBlock-navigation-block--button {
  width: 15%;
  text-align: left;
}

@media (max-width: 68.75em) {
  .infoBlock-navigation-block--calendarFrom, .infoBlock-navigation-block--calendarTo, .infoBlock-navigation-block--button {
    width: 48%;
    margin-top: 10px;
  }
}

@media (max-width: 28.125em) {
  .infoBlock-navigation-block--calendarFrom, .infoBlock-navigation-block--calendarTo, .infoBlock-navigation-block--button {
    width: 100%;
  }
}

.infoBlock-navigation-block--calendarFrom input, .infoBlock-navigation-block--calendarTo input {
  height: 100%;
  width: 100%;
  border: none;
  padding-left: 10px;
}

@media (max-width: 68.75em) {
  .infoBlock-navigation-block--calendarFrom input, .infoBlock-navigation-block--calendarTo input {
    height: 40px;
  }
}

.infoBlock-navigation-block--currency {
  width: 40%;
}

@media (max-width: 68.75em) {
  .infoBlock-navigation-block--currency {
    width: 48%;
    margin-top: 10px;
  }
}

@media (max-width: 28.125em) {
  .infoBlock-navigation-block--currency {
    width: 100%;
  }
}

.infoBlock-navigation-block--currency-box select {
  width: 100%;
  height: 40px;
  border: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #FFF;
  -webkit-appearance: none;
  background-position-x: 98%;
  padding-left: 10px;
}

.infoBlock-navigation-block--button button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  color: #FFF;
  background-image: linear-gradient(to bottom, #3eb5ab 0%, #21657c 100%);
  border: none;
}

.infoBlock-navigation-block--button button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.infoBlock-table {
  margin: 3rem 8rem 3rem 8rem;
  background-color: #FFF;
}

@media (max-width: 68.75em) {
  .infoBlock-table {
    margin: 2rem 8rem 1rem 8rem;
  }
}

@media (max-width: 48em) {
  .infoBlock-table {
    margin: 1rem 2rem 1rem 2rem;
  }
}

@media (max-width: 28.125em) {
  .infoBlock-table {
    margin: 0;
  }
}

.infoBlock-table--heading {
  background-color: #555;
  color: #FFF;
}
